<div class="homeSection">
    <h2>CSO Data App</h2>
    <p class="bold">
        This demo application uses ChartJS to display census Data from the Central Statistics Office regarding the Irish Population.
    </p>
    <span>Stack:</span>
    <ul>
        <li>Angular 2 Frontend with SASS, Bootstrap and ChartJS</li>
        <li>Django Rest Framework Backend using Postgresql Database</li>
    </ul>
    <p>
        <small class="italics">
        The data displayed has been sourced from the <a href="www.cso.ie">Central Statistics Office</a>. As CSO data may
        be subject to change or corrections over time, consider the data shown here as example data sampled in August 2017 which 
        may be subject to errors or inconsistencies. 
        </small>
    </p>
</div>