<div class="bar-chart-container">
    <h1 class="graphTitle">Population {{genderTextShow}}</h1>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorSettings"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button class="genderToggle" (click)="GenderButton()">Gender Profile</button>
  </div>
  