<div class="bar-chart-container">
    <h3 class="graph-title">{{region}}: Population [{{genderTextShow}}]</h3>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorSettings"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button class="buttonToggle" (click)="GenderButton()">Gender Profile</button>
  </div>
  