.graph-title {
    text-align: center;
    text-transform: capitalize;
    padding-left: 20px;
}

.bar-chart-container canvas {
    max-width: 850px;
    max-height: 450px;
    padding-right: 25px;
    padding-left: 25px;
    margin: auto;
}

.genderToggle {
    margin-left: 40px;
}
