<hr>
<div class="bar-chart-container">
  <h3 class="graph-title">Crime: <small class="graphSubTitle">{{graphTextShow}}</small></h3>
  <div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [colors]="barChartColorSettings" [chartType]="barChartType"></canvas>
  </div>
  <button class="buttonToggle" (click)="GraphTypeButton()">Cycle Graphs</button>
  <span class="loadingBarChart" *ngIf="loadingtrig">[ loading... ]</span>
</div>
