body {
  overflow-y: hidden;
}

@media screen and (max-width: 1020px) {
  body {
    overflow-y: inherit;
  }
}

.dropdown-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: #eceeef;
}

.loading {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  padding-top: 25vh;
  text-align: center;
  z-index: -1;
  transition: opacity 0.8s ease-out;
}
app-root:empty + .loading {
  opacity: 1;
  z-index: 99999;
}

nav.navbar-inverse {
  background-image: none;

  button.navbar-toggle span.icon-bar {
    background-color: #d3d3d3;
  }
}

.dropdown-divider {
  padding-left: 20px;
  padding-right: 20px;
}

nav a {
  color: #d3d3d3 !important;
}


